.burger {
    display: none;
    width: 34px;
    padding: 5px 0 5px 5px;

    background: none;
    border: none;
    cursor: pointer;

    font-size: 0;
    color: transparent;

    @include breakpoint($breakpoint-lg) {
        display: block;
    }

    &_active {
        .burger__line {
            background-color: $accent-element;

            &:nth-child(1) {
                transform: translateY(9px);
            }

            &:nth-child(3) {
                transform: translateY(-9px);
            }
        }
    }

    &__line {
        display: block;
        width: 100%;
        height: 2px;

        background-color: $color-content;

        transition: background-color .4s ease-out, transform .4s ease-out;

        &:nth-child(2) {
            margin: 7px 0;
        }
    }
}