.contacts {
    @extend %flex-align-center;

    &__link {
        font-weight: 600;
    }

    &__link {
        transition: color .15s linear;

        &:hover,
        &:focus-visible {
            color: $accent-element;
        }

        &:active {
            color: darken($accent-element, 8%);
        }

        &_mail {
            letter-spacing: .03em;
        }
    }
}