.site-nav {
    transition: opacity .4s ease .15s;

    @include breakpoint($breakpoint-lg) {
        width: 100%;
        margin-right: 0;
        padding: 10px 0;
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;
        overflow-x: hidden;

        text-transform: uppercase;
        opacity: 0;
        pointer-events: none;

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 2;

        .site-nav__link_hidden {
            display: block;
        }
    }

    &_show {
        @include breakpoint($breakpoint-lg) {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__link {
        font-size: 22px;
        font-weight: 600;

        transition: color .15s linear;

        &:hover,
        &:focus-visible {
            color: $accent-element;
        }

        &:active {
            color: darken($accent-element, 8%);
        }

        &_hidden {
            display: none;
        }

        @include breakpoint($breakpoint-xxxl) {
            font-size: 20px;
        }

        @include breakpoint($breakpoint-xxl) {
            font-size: 18px;
        }

        @include breakpoint($breakpoint-xl) {
            font-size: 16px;
        }

        @include breakpoint($breakpoint-lg) {
            font-size: 24px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        @include breakpoint($breakpoint-xs) {
            font-size: 20px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}